<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consent</title>
</head>
<body>
<p th:if="${error}" class="error">Invalid Consent</p>
<div th:object="${model}">
    <p>Client ID: <span th:text="*{clientId}">Unknown</span>.</p>
    <p>Client Name: <span th:text="*{clientName}">Unknown</span>.</p>
    <p>Requested Scopes: <span th:text="*{requestedScope}">No Scope</span>.</p>
</div>
<form th:action="@{/consent}" method="post">
    <input type="hidden" name="challenge" th:value="${model.challenge}"/>
    <input type="submit" name="submit" value="Authorize"/>
    <input type="submit" name="submit" value="Deny"/>
</form>
</body>
</html>